table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
  }
  body {
    background-color: #423131;
  }
  td {
    position: relative;
    font-size: large;
    
  }
  td:after {
    content: '';
    display: block;
    margin-top: 100%;
    
  }
  td .content {
    text-align: center;
    padding: 40% 0 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(74, 29, 116);
  }
h1{
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
}
  td .vide {
    text-align: center;
    padding: 40% 0 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(134, 120, 146);
}

td .ferie {
    text-align: center;
    padding: 40% 0 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(204, 29, 29);
}

td .nom {
    text-align: center;
    padding: 40% 0 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(82, 52, 52);
}

a.button_gauche {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    padding-right: 0%;
    text-decoration: none;
    color: initial;
    
}

a.button_droit {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    background-color: beige;
    text-decoration: none;
    color: initial;
    text-align: right;
    
}

h1 > a {
    text-decoration: none;
    color: white;
}